<?xml version="1.0" encoding="utf-8"?>
<!-- iBoomerang Copyright (C) 2014  Federico "MrModd" Cosentino (http://mrmodd.it/) -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrmodd.iboomerang"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/boomerang"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.mrmodd.iboomerang.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
